.container {
  height: 100vh;
  width: 100%;
  background-color: #dedede;
  overflow: hidden;
  .box {
    background-color: rgb(123, 231, 177);
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }
}
